body {
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
    background-color: #F3CCFF;
}
/* menu de navegación */

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 104px;
    justify-content: space-around;
}
nav {
    background-color: var(--second-color);
    height: 43px;
}
/*Footer*/
footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
}





