:root {
    --boss-color: #fcc6e0;
    --first-color: #FC62AE;
    --second-color: #BA57D9;
    --third-color: #8D6CF0;
    --fourth-color: #5778D9;
    --fifth-color: #65D7FC;
    --light-heaven: #beeefd
}

* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
    color: var(--fourth-color)
}

nav {
    display: grid;
    background-color: #fcc6e0;
    height: 123px;

}

ul > li {
    padding: 10px 0;
    margin: 33px 0 3px 33px;
    list-style: none;
    display: inline-block
}

li:nth-child(4) {
    font-family: serif;
}

nav > li {
    position: absolute
}


nav > .yellow-box .blue-box .magenta-box .cyan-box .apple-box  {
    position: absolute;
    color: #BA57D9;
    display: inline-block;
}

main {
    background: #5778D9;
    opacity: 0.2;
    padding: 110px;
    display: grid;
}

main > input::placeholder {
    color: #2dc9fa;
}

button {
    color: #2d75fa;
    padding: 13px;
}

aside > section h1.menu {
    width: 500px;
    height: 500px;
    background: var(--first-color);
    color: white;
    padding: 40px;
    box-sizing: border-box;
    margin: 20px
}
.container-random {
    display: flex;
    flex-direction: column;
}
aside > section h1.finding-point {
    margin: 20px;
    padding: 20px;
}

.random-space {
    display: grid;
    background: var(--boss-color);
    width: 600px;
    heigth: auto;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
aside.content > section.random-space > h1.letter-case {
    color: var(--third-color);
    margin: 20px;
}

aside.content > section.random-space > h1.typo-graphics:nth-child(2) {
    color: var(--second-color);
    margin: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}