@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200&display=swap');

/* paleta */
:root {
    --boss-color: #fcc6e0;
    --first-color: #FC62AE;
    --second-color: #BA57D9;
    --third-color: #8D6CF0;
    --fourth-color: #5778D9;
    --fifth-color: #65D7FC;
    --light-heaven: #beeefd
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

ul {
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;  
}


li:nth-child(4)::after {
    content: "😀"
}


nav > .yellow-box .blue-box .magenta-box .cyan-box .apple-box  {
    color: #F3CCFF;
}

img {
    width: auto;
    height: 4rem;
}


a {
    color: var(--first-color);
    text-decoration: none;
}

picture {
    margin: 30px 10px 10px 10px;
}
/* nav */
li.yellow-box {
    margin-top: 10px
}
li.magenta-box {
    margin-top: 10px
}
li.cyan-box {
    margin-top: 10px
}
/* footer */

h2.finding-point {
    margin-top: 14px;
}

h2.second-point {
    margin-top: 14px;
}

h2.third-point {
    margin-top: 14px;
}